<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form novalidate (ngSubmit)="login()" [formGroup]="loginform">

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="username" formControlName="username" [class.error1]="!loginform.controls.username.valid && loginform.controls.username.dirty"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( loginform.get('username').hasError('minlength') || loginform.get('username').hasError('maxlength') ||loginform.get('username').hasError('pattern') ||loginform.get('username').hasError('required') ) && loginform.get('username').touched">
      <div class="error" *ngIf="loginform.get('username').hasError('required') && loginform.get('username').touched">
        Please input your username
      </div>
      <div class="error" *ngIf="loginform.get('username').hasError('minlength') && loginform.get('username').touched">
        Minimum 4 characters
      </div>
      <div class="error" *ngIf="loginform.get('username').hasError('maxlength') && loginform.get('username').touched">
        Maximum 10 characters
      </div>
      <div class="error" *ngIf="loginform.get('username').hasError('pattern') && loginform.get('username').touched">
        Just use alphabet character
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" [class.error1]="!loginform.controls.password.valid && loginform.controls.password.dirty"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="( loginform.get('password').hasError('minlength') || loginform.get('password').hasError('maxlength') ||loginform.get('password').hasError('required') ) && loginform.get('password').touched">
      <div class="error" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched">
        Please input your password
      </div>
      <div class="error" *ngIf="loginform.get('password').hasError('minlength') && loginform.get('password').touched">
        Minimum 6 characters
      </div>
      <div class="error" *ngIf="loginform.get('password').hasError('maxlength') && loginform.get('password').touched">
        Maximum 12 characters
      </div>
    </ion-item>
    <ion-button  type="submit" size="block" color="primary" [disabled]="loginform.invalid">LOGIN</ion-button >
    <div>
      <a  routerLink="/signup">Click here to Create New Account.</a>
    </div>
    </form>
</ion-content>
