<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Offer" icon="locate" href="/tabs/(nearme:nearme)">
    <ion-router-outlet name="nearme"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Cart" icon="cart" href="/tabs/(cart:cart)">
    <ion-router-outlet name="cart"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(profiles:profiles)">
    <ion-router-outlet name="profiles"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="History" icon="globe" href="/tabs/(history:history)">
    <ion-router-outlet name="history"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
